<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Parcial Laura Barrera</title>
    <link rel='stylesheet' type='text/css' media='screen' href='css/bootstrap.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Evaluacion consumo API - Laura Melissa Barrera Pinto</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add">Agregar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/view">Visualizar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div><br><br>


    <div class="container">
        <div class="card">
            <div class="card-header">
                Parcial Electiva II consumo API
            </div>
            <div class="card-body">
                <p>En esta pagina se presenta el desarrollo del parcial de la Electiva II de consumo de API<br>
                    Para el desarrollo de este parcial se hizo uso de HTML para el desarrollo de las vistas del
                    sistema.<br>
                    Además, se hará el consumo de una API de datos proporcionada por el docente y su consumo y
                    tareas sobre la misma se realizaran usando JavaScript y su funcion fetch como promesa.<br>
                    En el menu colapsable de la parte superior se encuentra un menu para ... algun registro segun sea
                    pertinente.
                    y fue necesario utilizar:
                <ul>
                    <li>Express</li>
                    <li>Nodemoon</li>
                </ul><br>
                </p>
            </div>
        </div>
    </div>
    <footer class="footer" style="background-color: aquamarine;">
        <script src="js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
            crossorigin="anonymous"></script>
    </footer>
</body>

</html>